.cart-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.cart-item {
    list-style-type: none;
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
}

.item-price {
    margin-left: 5px;
}

.remove-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #c82333;
}

.purchase-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #2e5aed;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.purchase-button:hover {
    background-color: #003cff;
}

